<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body style="background-color: #ccc">
<h1 style="margin:0 auto">{{ .Title }}</h1>
<hr/>
<div>
    <p>{{ .Content }}</p>
</div>
<hr/>
</body>
</html>