<!DOCTYPE html>
<html lang="en">
{{template  "head.gohtml" .}}
<body style="background-color: #ccc">
<h1 style="margin:0 auto">{{ .Title }}</h1>
<hr/>
<div>
    <p>{{ .Content | html }}</p>
</div>
<hr/>
</body>
</html>