{{define "title"}}User: {{ .Username }}{{end}}
{{ define "content"}}
<a href="/">To main page</a>
    <ul>
        <li> Username: {{.Username}}</li>
        <li> Name: {{.Name}}</li>
    </ul>
{{end}}